<h4>List of Products</h4>
<div class="v-product-list-large">
    <table>

    {% for product in products %}
        <tr>
            <td class="v-product-name">
                <a href="{{ path('vespolina_store_product_detail', { 'slug': product.slug }) }}">
                {{ product.name }}</a>
            </td class="v-product-price">
            <td> {{ product.pricing['unitPriceTotal'] | price_format(store.defaultCurrency) }}</td>
        </tr>

    {% else %}
    No products loaded.
    {% endfor %}

    </table>

</div>
