{% extends "VespolinaStoreBundle::layout.html.twig" %}

{% block navigation %}
    <ul class="breadcrumb">
      <li><a href="{{ path('homepage') }}">Home</a> <span class="divider">/</span></li>
      <li class="active">Product Detail</li>
    </ul>
{% endblock %}

{% block content %}

<div class ="x-product">
{{product.name}}

{{product.description}}
</div>
{% endblock %}
