{% extends "VespolinaStoreBundle::layout.html.twig" %}

{% block navigation %}
<ul class="breadcrumb">
    <li><a href="{{ path('homepage') }}">Home</a> <span class="divider">/</span></li>
    <li>Checkout<span class="divider">/</span></li>
</ul>
{% endblock %}

{% block content %}

{% render "VespolinaStoreBundle:Process:processNavigator" with {'currentProcessStep': currentProcessStep } %}

<div class="row-fluid">
    <div class="span12">
        <h3>Please select how you want your items to be shipped</h3>

        <form action="{{ path('vespolina_store_checkout_process_step', { 'processId': currentProcessStep.process.id, 'processStepName': currentProcessStep.name })}}" method="post" {{ form_enctype(selectPaymentMethodForm) }}>
            {{ form_widget(selectPaymentMethodForm) }}
            <input type="submit" class="btn" />
        </form>
    </div>
</div>
{% endblock %}

