<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Products</h3>
    </div>
    <div class="list-group">
        {% for node in nodes %}
            {% if node.slug == currentNode %}
                {% set css = 'active'%}
            {% else %}
                {% set css = ''%}
            {% endif %}
            <a class="list-group-item {{ css }}" href="{{ url('v_store_zone_products', { 'taxonomyNodeSlug': node.slug }) }}">
                {{ node.name }}
            </a>
        {% endfor %}
    </div>
</div>
