<div class="row">
    <div class="span12 offset1">
        <div class="row">
        {% for term in terms %}
            <div class="span4">
                <a href="{{ url('v_taxonomy', { 'taxonomyTerm': term.path }) }}">
                    <div>{{ term.name }}</div>
                </a>
            </div>
        {% else %}

        {% endfor %}
        </div>
    </div>
</div>
