<div class = "v-taxonomy-below-eachother">
    <ul class="nav nav-list">
        <li class="nav-header">
            Category
        </li>
        {% for node in nodes %}
            {% if node.path == currentNode %}
                {% set css = 'active'%}
            {% else %}
                {% set css = ''%}
            {% endif %}
        <li class="{{ css }}">
         <a href="{{ url('v_taxonomy', { 'taxonomyTerm': node.id }) }}">
            <div>{{ node.name }}</div>
        </a>
        </li>
        {% else %}

        {% endfor %}
    </ul>
</div>
