{% extends "VespolinaStoreBundle::layout.html.twig" %}

{% block navigation %}
    <ul class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a> <span class="divider">/</span></li>
        <li class="active">Products Overview</li>
    </ul>
{% endblock %}

{% block product_taxonomy %}
{% render "VespolinaStoreBundle:Taxonomy:listNodes" with {'currentTaxonomyNode': taxonomyTerm,
                                                          'taxonomyName': taxonomyName,
                                                          'renderType': taxonomyRenderType } %}
{% endblock %}

{% block content %}
    {% include "VespolinaProductBundle:Default:_product_list_" ~ productView|default('tiled') ~ ".html.twig" with {'taxonomyName': taxonomyName, 'taxonomyTerm': taxonomyTerm, 'max': 3} %}
{% endblock %}

