{% extends "VespolinaStoreBundle::layout.html.twig" %}

{% block navigation %}
    <ol class="breadcrumb">
        <li><a href="{{ path('v_store_home') }}">Home</a></li>
        <li class="active">Products Overview</li>
    </ol>
{% endblock %}

{% block product_taxonomy %}
    {% render "VespolinaStoreBundle:Taxonomy:listNodes" with {'currentTaxonomyNode': taxonomyNodeSlug,
    'taxonomyName': taxonomyName,
    'renderType': taxonomyRenderType,
    'routeName' : 'v_store_home'} %}
{% endblock %}

{#{% block content %}#}
    {#{% include "VespolinaCommerceBundle:Default:_product_list_" ~ productView|default('tiled') ~ ".html.twig" with {'taxonomyName': taxonomyName, 'taxonomyTerm': taxonomyNodeSlug, 'max': 3} %}#}
{#{% endblock %}#}

