{% extends "VespolinaStoreBundle::layout.html.twig" %}

{% block navigation %}
<ul class="breadcrumb">
    <li><a href="{{ path('homepage') }}">Home</a> <span class="divider">/</span></li>
    <li class="active">Products Overview</li>
</ul>
{% endblock %}
{% block content %}

{% render "VespolinaStoreBundle:Taxonomy:listTerms" with {'taxonomyName': 'products'} %}

{% include "VespolinaStoreBundle:Product:_product_list_tiled.html.twig" with {'taxonomyName': 'products', 'taxonomyTerm': taxonomyTerm, 'max': 3} %}

{% endblock %}

