.v-product-tile { border-radius: 8px; border:1px solid #dddddd; padding:10px; margin-bottom:10px}
.v-product-name { color: black; font-size: 1em }
.v-product-unit-price-msrp-total{ color: #aaaaaa; float: right; font-size: 1.2em ; padding-left: 0.5em; text-decoration:line-through}
.v-product-msrp-discount-rate{ color: #DD1144; float: right; text-decoration: none; padding-left: 0.5em}
.v-product-unit-price-total {
    border-radius: 4px; background-color: #2D6987; color: #ffffff; float: right; font-size: 1.2em; padding: 2px 4px 2px 4px; }
.btn{ padding: 2px 8px 4px;}


.v-daily-deal-product .thumbnail img { display: block;   margin-left: auto;   margin-right: auto; }

.v-product-list-small .v-product-list-item { width: 50em;}
.v-product-list-small .v-product-list-item { border-radius: 2px; padding: 2px 4px 2px 4px; }
.v-product-list-small .v-product-list-item .v-product-thumbnail{ float: left;}
.v-product-list-small .v-product-list-item .v-product-detail{  }

.v-taxonomy-below-eachother { width: 10em; margin-right: 0.5em}
.navigation { text-align: center; }

.v-nav-checkout { text-align: center; }
.dropdown-menu li > a.v-nav-checkout:hover, .dropdown-menu .active > a.v-nav-checkout, .dropdown-menu .active > a.v-nav-checkout:hover { background-color: #fff; color: #000; }
